*{
  box-sizing: border-box;
  
}
.app{
  background-color: white;
  
}
body{
  background-color: rgb(3, 3, 3);
  margin: 0% 25%;
  box-shadow: 0px 3px 500px rgb(43, 34, 80);
}



.navbar{
    display: flex;
    height: 100px;
    box-shadow: 0px 3px 20px rgba(7, 1, 1, 0.1);
  }
.navbar img{
  
  padding: 35px 30px;
}  
section{
  padding: 30px;
}
.hero{
  
  font-family: 'Poppins',sans-serif;
  overflow-x: auto;
}
.hero img{
  width: 400px;
  height: 200px;
  margin-left: 90px;
  
}
.hero h1{
  margin-bottom: 0%;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 110%;
}
.hero p{
  width: 300px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 110%;
}
.gray{
  color: #918E9B;
}
.bold{
  font-weight: bolder;
}
.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}
.card{
  
  width: 175px;
  font-size: 12px;
  line-height: 110%;
  flex: 0 0 auto;         /* ADD */
  display: flex;          /* ADD */
  flex-direction: column; 
  position: relative;
}
.card--badge{
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  color: black;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}
.main-img{
  width: 175px;
  height: 220px;
  border-radius: 7px;
}
.card-content{
  align-items: center;
}
.star{
  width: 14px;
}

.footer
{
    align-items: center;
    margin-top: 10px;
    display: block  ;
    height: 50px;
    box-shadow: 5px 10px 8px 10px #07040e;
    
}
.footer h5{
  text-align: center;
  color: crimson;
}